/* Colors */
$brand-primary: black; //navigation, footer background color
$brand-secondary: white; //navigation, footer font color
$accent-color: #00acf4;

/* Grid */
$grid-gutter-width: 40px !default;

/* Fonts */
$font-size-base: 16px;
$font-family-sans-serif: 'Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800', sans-serif;;

/* Navigation */
$navbar-height: 70px;
$navbar-border-radius: 0;
$navbar-brand-img-size: 90%;
$navbar-default-bg: $brand-primary;
$nav-link-padding: 10px 10px;
$navbar-dropdown-selected-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-color: $brand-secondary;
$navbar-default-link-hover-color: lighten($navbar-default-color, 60%);

$navbar-default-link-color: $navbar-default-color; 
$navbar-default-brand-color: $navbar-default-color;
$navbar-default-toggle-icon-bar-bg: $navbar-default-color; 
$navbar-default-link-active-color: $navbar-default-link-hover-color;

$dropdown-link-hover-bg: $navbar-dropdown-selected-bg;
$dropdown-link-active-bg: $navbar-dropdown-selected-bg;

//get rid of navbar-default toggle background and borders in mobile view
$navbar-default-toggle-hover-bg: none;
$navbar-default-toggle-border-color: none;

//dropdowns
//make sure dropdown border matches nav border
$dropdown-border: darken($navbar-default-bg, 6.5%) !default;

//** Background color for `<body>`.
$body-bg:               #f5f5f5 !default;
//** Global text color on `<body>`.
//$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      lighten($link-color, 15%);//darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;