/*Bootstrap button outline override*/
/* Button Styles */
.btn-outline,
.btn-outline:focus,
.btn-outline:visited {
  background-color: transparent;
  border: 2px solid $brand-secondary;
  color: $brand-secondary;
  transition: all .2s;
  &:hover {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: $navbar-default-link-hover-color;
  }
}