/* Footer */
$footer-height: 60px;

// Sticky Footer
html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height;
}

footer.footer {
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
}

.footer {
  background-color: $brand-primary;
  border-top: 1px solid gainsboro;
  color: $brand-secondary;
  a {
    color: $brand-secondary;
  }
}

#copyright {
  font-size: 14px;
  margin: 11px 0;
}

@font-face {
  font-family: RWD-logo;
  src: url(../fonts/RWD-logo.woff);
}

.icon-RWD-logo:before {
  content: "\e900";
  font-family: RWD-logo;
  vertical-align: middle;
}