#main.index {
  #index-about {
    h1,h2,h3,h4:first-child {
      margin-top: 0;
    }
    // For social media sidebar index partial
    #hours-table th {
      padding-right: 2em;
    }
  }
}

#hours-table {
  th {
    font-weight: normal;
    padding-right: 3em;
  }
  td {
    text-align: right;
  }
}

//These styles can be removed if there is a lot of content
@media (min-width: $screen-lg-min) {
  #main .sidebar {
    padding-left: 4em;
  }
  // Make content/about section line up with title in hero
  #index-about {
    padding-left: 6em;
  }
}
