@mixin center-vertically($height) {
  position: absolute;
  top: $height;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

@mixin center-horizontally($width) {
  position: absolute;
  right: $width;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 100%;
}

@mixin blur($level) {
    -webkit-filter: blur($level);
    -moz-filter: blur($level);
    -o-filter: blur($level);
    -ms-filter: blur($level);
    filter: blur($level);
}