.navbar {
  border: none;
}

.navbar-nav {
  //font-weight: 500;
  li.active a {
    border-bottom: 4px solid $accent-color;
  }
  li a {
    font-size: .9em;
    margin: {
      left: 10px;
      right: 10px;
    }
    padding: {
      left: 0;
      right: 0;
    }
    text-transform: uppercase;
  }
}

.navbar-brand {
  background: {
    image: url("../images/navbar-brand-img.png");
    position: center;
    repeat: no-repeat;
    size: $navbar-brand-img-size;
  }
  width: 100px;
}

.navbar-toggle {
  border-right: 2px solid #414042;
  border-left: 2px solid #414042;
  border-radius: 0;
  float: left;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
  padding: {
    top: 27px;
    bottom: 27px;
  }
  .icon-bar + .icon-bar {
    margin-top: 6px
  }
}

@media (max-width: $screen-md-min) {
  .navbar-brand {
    background-image: url("../images/navbar-brand-img-mobile.png");
  }
}