/* Index Feature Panes */
.index {
  .features div div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 75%;
  }
  #feature-1 {
    background-image: url("../images/index/features/feature-1.jpg");
  }
  #feature-2 {
    background-image: url("../images/index/features/feature-2.jpg");
  }
  #feature-3 {
    background-image: url("../images/index/features/feature-3.jpg");
  }
}

/* Still Water Additions */

#homepage-features {
  h5 {
    color: black;
    font-size: 15px;
    font-weight: 700;
    margin-top: 55px;
  }
  h2 {
    color: #33383f;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 0;
  }
  p {
    color: #53555b;
    line-height: 1.65em;
  }
  button {
    background-color: $accent-color;
    border: none;
    color: white;
    margin-top: 30px;
    padding: 16px 0;
    width: 100%;
  }
}