/* Hero */
$hero-height: 25em;
$hero-bg-filter-color: $brand-primary;

#hero {
  color: white;
  min-height: $hero-height;
  margin-top: -($navbar-height + $navbar-margin-bottom);
  position: relative;
  z-index: -1000;
}

.hero-bg {
  background: url("../images/index/hero-img-480.png") no-repeat;
  background-position: center 25%;
  background-size: cover;
  overflow: hidden;
  padding-top: $navbar-height;
  position: absolute;
  height: 100%;
  width: 100%;
  &.blur {
    @include blur(2px);
  }
}

@media (min-width: $screen-xs-min) {
  .hero-bg {
    background-image: url("../images/index/hero-img-1200.png");
  }
}

@media (min-width: $screen-lg-min) {
  .hero-bg {
    background-image: url("../images/index/hero-img.png");
  }
}

.hero-text {
  padding: $navbar-height 0;
  position: absolute;
  @include center-vertically($hero-height/2);
}

@media (min-width: $screen-xs-min) {
  .hero-text h1 {
    font-size: $font-size-h1*1.4;
  }
}

.hero-bg-filter {
  background-color: $hero-bg-filter-color;
  opacity: .25;
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (max-width: $screen-sm) {
  .hero .container {
    padding: {
      right: 5%;
      left: 5%;
    }
  }
}