@charset "utf-8";
@import "partials/bsvariables";
@import "../vendor/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap";
@import "partials/mixins";
@import "partials/nav";
@import "partials/index";
//@import "partials/contact-page";
@import "partials/footer";
@import "partials/button-outline-override";

/* Index Page Partials */
@import "partials/index-partials/index-hero";
//@import "../upgrades/hero-carousel/index-hero-carousel";
@import "partials/index-partials/feature-panes-3";

/* Footer Addition */
//@import "partials/footer-addition";

/* General */
a,
a:focus,
a:visited,
a:hover {
  text-decoration: none;
}

#main {
  img {
    max-width: 100%;
  }
  dd, .indent {
    padding-left: 1em;
  }
  section {
    padding-bottom: 2*$line-height-computed;
  }
}

//default is to delete these anchor styles
#main, .footer {
  a {
  	color: $brand-secondary;
  	&:hover {
  	  color: $navbar-default-link-hover-color;
  	}
  }
}

/* Still Water Stuff */
