<% wrap_layout :layout do %>
	<main id="main">
	  <div id="<%= current_page.data.id %>" class="container">
	      
        <div class="row">
          <div class="col-md-4">

            <%= partial "sidebar" %>
            
          </div>
          <div class="col-md-8">

            <%= yield %>

          </div>
        </div>

      </div>
	</main>
<% end %>