<% wrap_layout :layout do %>
	<main id="main" class="slim-page">
	  <div id="<%= current_page.data.id %>" class="container">
	      
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <section>

            <%= yield %>

          </section>
          
        </div>
      </div>

    </div>
	</main>
<% end %>