<!-- Features -->
<!-- Uncomment partials/index-partials/feature-panes-3 in site.css.scss -->
<div class="row features">
  <div class="col-sm-4">
    <a href="#">
      <div id="feature-1"></div>
    </a>
  </div>

  <div class="col-sm-4">
    <a href="#">
      <div id="feature-2"></div>
    </a>
  </div>

  <div class="col-sm-4">
    <a href="#">
      <div id="feature-3"></div>
    </a>
  </div>
</div>