<div id="footer-addition" class="footer">

  <div class="container">

    <div class="row">
      <div class="col-sm-4">

        <section>
          <img id="footer-logo" src="images/navbar-brand-img.png" alt="brand logo">
        </section>

      </div>
      <div class="col-sm-4">
        
        <section>

          <% if data.contactInfo.address? %>
            <p>
              <strong><%= data.contactInfo.name %></strong>
                <% data.contactInfo.address.each do |a| %>
                  <br /><%= a %>
                <% end %>
            </p>
          <% end %>

          <% if data.contactInfo.phoneNumber? %>
            <p>
              <strong>Phone: </strong><a href="tel:+1<%= data.contactInfo.phoneNumber.gsub(/[\s+)(-]/,"") %>"><%= data.contactInfo.phoneNumber %></a>
            </p>
          <% end %>

        </section>

      </div>
      <div class="col-sm-4">
        
        <section>

          <% if data.contactInfo.hours? %>
          
            <strong>Business Hours</strong>
        
            <table id="hours-table">
              <tbody>

                <% data.contactInfo.hours.each do |h| %>
                  <tr>
                    <th><%= h["days"] %></th><td><%= h["times"] %></td>
                  </tr>
                <% end %>

              </tbody>
            </table>
          <% end %>

        </section>

      </div>
    </div>

  </div>

</div>