<!-- Index Hero  -->
<!-- Uncomment partials/index-partials/index-hero in site.css.scss -->
<div id="hero">
  <div class="hero-bg"> <!--class="blur"--></div>
  <div class="hero-bg-filter"></div>
  <div class="hero-inner">
    <div class="hero-text">
    
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>