<main id="main" class="index container">

  
  <div id="homepage-features" class="row features">
    <div class="col-md-4">
      <h5>GOT QUESTIONS?</h5>
      <h2>Contact Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id lorem risus. Morbi suscipit consectetur commodo. Nunc bibendum scelerisque congue. Duis pharetra egestas arcu, at ullamcorper enim. Suspendisse ornare lacinia sem, sit amet bibendum augue mollis vel. Sed quis metus vitae ligula pulvinar pharetra sit amet ut mi.</p>
      <button>Book Now</button>
    </div>

    <div class="col-md-4">
      <h5>PLANNING A SMALL EVENT?</h5>
      <h2>Book Online</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id lorem risus. Morbi suscipit consectetur commodo. Nunc bibendum scelerisque congue. Duis pharetra egestas arcu, at ullamcorper enim. Suspendisse ornare lacinia sem, sit amet bibendum augue mollis vel. Sed quis metus vitae ligula pulvinar pharetra sit amet ut mi.</p>
      <button>Book Now</button>
    </div>

    <div class="col-md-4">
      <h5>PLANNING A BIGGER EVENT?</h5>
      <h2>Request a Proposal</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id lorem risus. Morbi suscipit consectetur commodo. Nunc bibendum scelerisque congue. Duis pharetra egestas arcu, at ullamcorper enim. Suspendisse ornare lacinia sem, sit amet bibendum augue mollis vel. Sed quis metus vitae ligula pulvinar pharetra sit amet ut mi.</p>
      <button>Book Now</button>
    </div>
  </div>
  
</main>