<!--
***********************
**** Facebook Feed ****
***********************

 - Set up app & plugin at https://developers.facebook.com/docs/plugins/page-plugin
 - Must sign in to client's Facebook account
 - Uncomment "facebook-feed" section (below)
 - Uncomment "#fb-root" and script and place both at top of index page
 - Change data-height value to fit well 
-->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1634926043398094";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section id="facebook-feed">

  <div class="fb-page" data-href="https://www.facebook.com/rabbitwebdesignRI/" data-tabs="timeline" data-height="400" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/rabbitwebdesignRI/" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/rabbitwebdesignRI/">Rabbit Web Design</a>
    </blockquote>
  </div>

</section>


<!--
  ***********************
  ***** Twitter Feed ****
  ***********************

   - Go to https://publish.twitter.com/# to generate this stuff quickly
   - Uncomment "twitter-feed" section
-->

<!--section id="twitter-feed">

  <a class="twitter-timeline" href="https://twitter.com/RabbitWebDesign">Tweets by RabbitWebDesign</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</section--> 


<!--
  ***********************
  *** Instagram Feed ****
  ***********************

  **** NOT CURRENTLY WORKING ****

   - Go to https://www.instagram.com/developer
   - Go to Manage Clients, then register a new client
   - Put clientId in script below
   - Uncomment "instagram-feed" section
-->

<!--section id="instagram-feed">

  <div id="instafeed"></div>

  <script type="text/javascript" src="vendor/instafeed.js/instafeed.min.js"></script>
  <script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: 'pigeontoe1',
        clientId: '6b3d6530ae0648c0b0a572d963c1eb22'
    });
    feed.run();
  </script>

</section-->