<footer class="footer">
  <div class="container">

    <p id="copyright">
      &copy;&nbsp;<%= Date.today.year %> <%= data.contactInfo.name %>. All&nbsp;rights&nbsp;reserved.<br />
      Powered by <a href="http://www.rabbitwebdesign.net" target="_blank"><span class="icon-RWD-logo"></span> Rabbit Web Design.</a>
    </p>

  </div>
</footer>