<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <div id="navbar-toggle-wrapper">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      <a class="navbar-brand" href="index.html"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <%= whichPage("Hotel") %>
          <a href="#">Hotel</a>
        </li>
        <%= whichPage("Gallery") %>
          <a href="#">Gallery</a>
        </li>
        <%= whichPage("Eat + Drink") %>
          <a href="#">Eat + Drink</a>
        </li>
        <%= whichPage("Meetings + Events") %>
          <a href="#">Meetings + Events</a>
        </li>
        <%= whichPage("Weddings") %>
          <a href="#">Weddings</a>
        </li>
        <%= whichPage("Location") %>
          <a href="#">Location</a>
        </li>
        <%= whichPage("Karma Rewards") %>
          <a href="#">Karma Rewards</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>